include ../../partials/title
include ../../partials/arrow


section.contact(role="region" aria-labelledby="contact__title")
  +titleBlock({ number: '05', title: 'Contact' })

  h2.visually__hidden#contact__title Contactez-moi

  .contact__wrapper 
    .download__button__wrapper 
      .download__text__wrapper 
        p.glitched(data-text="Contactez-moi des aujourd'hui pour toute precision quant a mon parcours, si vous appreciez mon travail ou simplement pour me donner un retour sur ce projet.")
        br
        p.glitched(data-text="Merci d'avance pour le temps que vous avez consacre a l'etude de ce portfolio - A bientot sur Metz, Nancy, Luxembourg et Paris si l'opportunite se presente.")
        br
        p.glitched(data-text="Une version PDF de ce curriculum vitae est disponible en cliquant sur le bouton ci dessous.")
      button.download(type="button" aria-label="Télécharger le CV au format PDF")
        h2.download__button__title Télécharger ce curriculum vitae
        .download__svg__wrapper
          - const colors = ['#5790db', '#3b72bd', '#1e58a0', '#003e83']

          svg(viewBox="0 0 127 130" fill="none")
            each color, i in colors
              path(class=`arrow__bar__${i}`, d="M64.0127 0L64.0064 45.478L63.9999 93", stroke=color, stroke-width="20", stroke-linejoin="miter")
              path(class=`arrow__head__${i}`, d="M24 52L63.9941 93L106 52", stroke=color, stroke-width="20", stroke-linejoin="miter")
              path(class=`socle__${i}`, d="M1 97V129H126V97", stroke=color, stroke-width="20", stroke-linejoin="miter")
      
    .information__wrapper
      .coordinates__column
        h3.coordinates__title.glitched#socials__title(data-text="Reseaux")
        .contact__socials__wrapper 
          +socialLink(
          "Instagram",
          "https://instagram.com/victor_greiveldinger",
          "Profil Instagram de Victor Greiveldinger"
          )
          +socialLink(
            "Linkedin",
            "https://www.linkedin.com/in/victorgreiveldinger",
            "Profil LinkedIn de Victor Greiveldinger"
          )
          +socialLink(
            "Github",
            "https://github.com/VictorGreiveldingerHub",
            "Profil GitHub de Victor Greiveldinger"
          )
            
      .coordinates__column
        h3.coordinates__title.glitched#mail__title(data-text="mail") 
        .coordinates__items
          a.coordinates__item(href="mailto:victorgreiveldinger@gmail.com") 
            .mail__value.glitched(data-text="victorgreiveldinger@gmail.com") 
            .underline

      .coordinates__column
        h3.coordinates__title.glitched(data-text="credits design et developpement") 
        .coordinates__items
          .credits.glitched(data-text="Victor Greiveldinger - ")
          .credits.glitched(data-text="Portfolio - Septembre 2025") 